@import data.model.User

@import data.model.User.ScoredSentence
@(userScoreList: List[ScoredSentence])

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>祝福语排行</title>
    <meta name="author" content="Asia Cao">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <h1>祝福语排行榜</h1>
    <div>
      <ol>
        @for(statement <- userScoreList) {
          <li>@statement.raw : @statement.score 分</li>
        }
      </ol>
    </div>
  </body>

</html>
